<% content_for(:cover) do %>
  <div class="sign-body">
    <div class="model-dialog text-center">
      <div class="main-section col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
        <div class="model-content">
          <div class="col-12 user-img">
            <i class="fab fa-gofore"></i>
          </div>
          <%= render 'login_form' %>
        </div> <!-- end of cotent -->
      </div>
    </div>
  </div>
<%end%>
