<div class="star-rating show_rating_size" data-score= <%=  @avg_comment_rating %>></div>
<div class="show_star-rating_count"><%= @avg_comment_rating %></div>

<%= javascript_include_tag 'ro_starreview' %>